edmine.egg-info
build
.ipynb_checkpoints
__pycache__/
*.py[cod]
*$py.class
.idea

*.DS_Store
**/.DS_Store
wandb
script
script_result

/examples/settings.json
/examples/knowledge_tracing/llm4kt/output
/examples/knowledge_tracing/llm4kt/emb
/examples/knowledge_tracing/llm4kt/cal_metric.py
/examples/knowledge_tracing/llm4kt/select_user.py
/dataset
/models

