edmine.egg-info
build
.ipynb_checkpoints
__pycache__/
*.py[cod]
*$py.class
.idea

*.DS_Store
**/.DS_Store
wandb
script
script_result

/examples/settings.json
/examples/knowledge_tracing/llm4kt
/examples/knowledge_tracing/data_analysis
/dataset
/models
/save_models
/dist
/README4PYPI.md
/release_process.txt