edmine.egg-info
build
.ipynb_checkpoints
__pycache__/
*.py[cod]
*$py.class
.idea
.vscode

*.DS_Store
**/.DS_Store
wandb
script
script_result

/examples/settings.json
/examples/knowledge_tracing/llm4kt
/examples/knowledge_tracing/data_analysis
/examples/knowledge_tracing/model_analysis
/examples/knowledge_tracing/train/dygkt.py
/examples/knowledge_tracing/train/config/dygkt.py
/dataset
/models
/save_models
/dist
/README4PYPI.md
/release_process.txt
/examples/roster/*.png
/check_train.py
/delete_log.py